In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv('advertisement_clicks.csv')

In [17]:
len(df['action'])

2000

In [12]:
dfA = df.loc[df['advertisement_id'] == 'A']

In [13]:
dfA

     advertisement_id  action
2                   A       0
4                   A       1
5                   A       0
7                   A       1
9                   A       0
...               ...     ...
1995                A       0
1996                A       0
1997                A       0
1998                A       1
1999                A       0

[1000 rows x 2 columns]

In [14]:
dfB = df.loc[df['advertisement_id'] == 'B']
dfB

     advertisement_id  action
0                   B       1
1                   B       1
3                   B       0
6                   B       0
8                   B       0
...               ...     ...
1980                B       0
1981                B       1
1984                B       0
1986                B       0
1987                B       1

[1000 rows x 2 columns]

In [16]:
N = len(dfA)

In [19]:
a = dfA['action'].values
b = dfB['action'].values

In [20]:
var_a = a.var(ddof=1)
var_b = b.var(ddof=1)
s = np.sqrt((var_a+ var_b)/2)
t = (a.mean() - b.mean()) / (s* np.sqrt(2.0/N))
df = 2*N - 2
p = 1 - stats.t.cdf(t,df=df)
print('t:\t', t, 'p:\t', 2*p)

t:	 -3.221173213801978 p:	 1.9987028094532875

In [21]:
t2, p2 = stats.ttest_ind(a,b)
print( 't2:\t', t2, 'p2:\t', p2)

t2:	 -3.2211732138019786 p2:	 0.0012971905467125246