# Multiple Linear Regression with Dummies - Exercise

You are given a real estate dataset. 

Real estate is one of those examples that every regression course goes through as it is extremely easy to understand and there is a (almost always) certain causal relationship to be found.

The data is located in the file: 'real_estate_price_size_year_view.csv'. 

You are expected to create a multiple linear regression (similar to the one in the lecture), using the new data. 

In this exercise, the dependent variable is 'price', while the independent variables are 'size', 'year', and 'view'.

#### Regarding the 'view' variable:
There are two options: 'Sea view' and 'No sea view'. You are expected to create a dummy variable for view and include it in the regression

Good luck!

## Import the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Load the data

In [2]:
raw = pd.read_csv('real_estate_price_size_year_view.csv')

In [3]:
df = raw.copy()

In [6]:
df.head()

        price     size  year         view
0  234314.144   643.09  2015  No sea view
1  228581.528   656.22  2009  No sea view
2  281626.336   487.29  2018     Sea view
3  401255.608  1504.75  2015  No sea view
4  458674.256  1275.46  2009     Sea view

## Create a dummy variable for 'view'

In [8]:
df['view'] = df['view'].map({'Sea view':1,'No sea view': 0})

In [9]:
df.head()

        price     size  year  view
0  234314.144   643.09  2015     0
1  228581.528   656.22  2009     0
2  281626.336   487.29  2018     1
3  401255.608  1504.75  2015     0
4  458674.256  1275.46  2009     1

## Create the regression

### Declare the dependent and the independent variables

In [10]:
y= df['price']
x1=df[['size','year','view']]

### Regression

In [11]:
x = sm.add_constant(x1)
result = sm.OLS(y,x1).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.993
Model:                            OLS   Adj. R-squared (uncentered):              0.992
Method:                 Least Squares   F-statistic:                              4377.
Date:                Wed, 27 May 2020   Prob (F-statistic):                   2.30e-103
Time:                        13:40:21   Log-Likelihood:                         -1158.0
No. Observations:                 100   AIC:                                      2322.
Df Residuals:                      97   BIC:                                      2330.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
size         218.5337      8.866     24.650      0.000     200.938     236.129
year          38.6216      4.126      9.361      0.000      30.433      46.810
view         5.75e+04   5261.330     10.928      0.000    4.71e+04    6.79e+04
==============================================================================
Omnibus:                       24.678   Durbin-Watson:                   1.962
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               54.705
Skew:                           0.906   Prob(JB):                     1.32e-12
Kurtosis:                       6.138   Cond. No.                     4.38e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.38e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""