In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
from tensorflow.keras.layers import Input, Dense, Embedding, Flatten, Concatenate
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import SGD, Adam

from sklearn.utils import shuffle

In [9]:
df =pd.read_csv(r'D:\DataSets\ml-20m\ratings.csv')

In [10]:
df.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [11]:
df.userId = pd.Categorical(df.userId)
df['new_user_id'] = df.userId.cat.codes

In [12]:
df.movieId = pd.Categorical(df.movieId)
df['new_movie_id'] = df.movieId.cat.codes

In [14]:
user_ids = df['new_user_id'].values
movie_ids = df['new_movie_id'].values
ratings = df['rating'].values

In [16]:
N = len(set(user_ids))
M = len(set(movie_ids))
K = 10

In [17]:
u = Input(shape=(1,))

m = Input(shape=(1,))

u_emb = Embedding(N,K)(u)

m_emb = Embedding(M,K)(m)

u_emb = Flatten()(u_emb)
m_emb = Flatten()(m_emb)

x = Concatenate()([u_emb,m_emb])

x = Dense(1024, activation = 'relu')(x)
x = Dense(1)(x)

In [20]:
model = Model(inputs = [u,m], outputs = x)
model.compile(
    loss = 'mse',
    optimizer = SGD(lr=0.08, momentum =0.9)
)

In [22]:
user_ids, movie_ids, ratings = shuffle(user_ids, movie_ids, ratings)

In [23]:
Ntrain = int(0.8* len(ratings))
train_user = user_ids[:Ntrain]
train_movie = movie_ids[:Ntrain]
train_ratings = ratings[:Ntrain]

test_user = user_ids[Ntrain:]
test_movie = movie_ids[Ntrain:]
test_ratings = ratings[Ntrain:]

avg_rating = train_ratings.mean()
train_ratings = train_ratings - avg_rating
test_ratings = test_ratings - avg_rating

In [ ]:
r = model.fit(
    x = [train_user, train_movie],
    y = train_ratings,
    epochs =25,
    batch_size = 1024,
    verbose=2,
    validation_data=([test_user, test_movie], test_ratings)
)

Epoch 1/25
15626/15626 - 365s - loss: 0.7775 - val_loss: 0.7310
Epoch 2/25

In [ ]:
plt.plot(r.history['loss'],label='loss')
plt.plot(r.history['val_loss'], label='val_loss')
plt.legend()

In [ ]:
# on par with other approaches?
#https://datascience.stackexchange.com/questions/29740/benchmark-result-for-movielens-dataset
np.root()